 .vidcenter {
    position: relative;
    text-align: center;
    top: 100px;

 } 
          
              
                           
 * {
     margin: 0;
     padding: 0;
 }
.textcenter{
     text-align: center;
     position: relative;
     top: 150px;
     font-size: x-large; 
     font-weight: bold;
     
}





        