
      .img-container {
        text-align: center;
      }
      .vidcenter{
          text-align: center;
      }
      .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
        * {
            margin: 0;
            padding: 0;
        }
    