 body {
    font-family: 'Raleway', sans-serif;
    background-image: url("/images/swirl.jpg");
}
 .backing {
    background: rgb(255, 255, 255);
    border-radius: 25px;
    height: 65vh;
    width: 400px;
    position: fixed;
    box-shadow: 1px 2px 20px 2px rgb(70, 44, 44);
    
}
  .textcenter {
     text-align: center;
     position: relative;
     font-size: large; 
     font-weight: bold;
     margin: 0;
     padding: 0;
     display: block;
     
     
     
     
}
 .headcenter {
    position: relative;
    text-align: center;
    font-size: 40px; 
    top: 50px;
    margin: 0;
    padding: 0;
    
 }          
 
 .navcenter {
    position: relative;
    text-align: center;
    top: 75px;
    font-size: x-large; 
    font-weight: 700;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    border-radius: inherit;
        
}

a:link {
    text-decoration: none;
    color: pink;
}

a:visited {
    color: pink;
}

a:hover {
    color: purple;
}
h1 a:link {
    text-decoration: none;
    color: black;
}
h1 a:visited {
    text-decoration: none;
    color: rgb(44, 44, 44);
}
h1 a:hover {
    text-decoration: none;
    color: pink;
}
 *{
    overflow-x: scroll; 
}
@media screen and (orientation: portrait){
    .backing {
     /*   position: fixed; */
        width: 98vw;
        height: 20vh;
    }
}

.pom{
    width: 75px;
    height: 75px;
    left: 42%;
    top: 25px;
    position: relative;
    text-align: center;
    
}
@media screen and (orientation: portrait){
    .pom {
     /*   position: fixed; */
        left: 45%;
    }
}
.icons{
    text-align: center;
    display: block;
    position: relative;
    font-size: 50px;
    top: 95px;
    

}














        